.recently-watched
    background: linear-gradient(180deg, transparent 50%, $beige 50%)
    &__title
        margin-top: px-to-rem(80px)
        margin-bottom: px-to-rem(80px)
        z-index: 999
    &-block
        padding-bottom: px-to-rem(180px)
        max-width: px-to-rem(1479px)
        margin: auto
        display: flex
        justify-content: space-between
    &__link
        width: 429px
        height: 396px
        display: flex
        justify-content: center
        align-items: center
        & img
            max-width: 100%