.recently-watched
    background: linear-gradient(180deg, white 50%, $beige 50%)
    &__title
        margin-top: 80px
        margin-bottom: 80px
    &-block
        padding-bottom: 180px
        max-width: 1479px
        margin: auto
        display: flex
        justify-content: space-between